CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
!doc/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
bin
.vscode
.TODO
.TMP
tst
tmp
.eggs
__pycache__
build
dist
*.egg-info